* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    font-family: 'Karantina', sans-serif;
}

#mainStats {
    font-family: 'Karantina', sans-serif;
}

/* NAVBAR */
.nav-link,
.dropdown-item {
    color: white;
}

.nav-link:hover,
.dropdown-item:hover {
    color: #FF0000;
}

.seccionAgentes {
    background-color: #FF4655;
}

/* ABANICO DE IMAGENES */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.image-card {
    flex: 1;
    transition: flex 0.3s ease, z-index 0.3s ease;
    margin: 0 1%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Tamaños proporcionales */
.image-card:nth-child(1) {
    flex: 1.2;
    /* Más pequeño */
    left: 10%;
    z-index: 1;
}

.image-card:nth-child(2) {
    flex: 1.5;
    /* Mediano */
    left: 5%;
    z-index: 2;
}

.image-card:nth-child(3) {
    flex: 1.7;
    /* Más grande */
    z-index: 3;
}

.image-card:nth-child(4) {
    flex: 1.5;
    /* Mediano */
    right: 5%;
    z-index: 2;
}

.image-card:nth-child(5) {
    flex: 1.2;
    /* Más pequeño */
    right: 10%;
    z-index: 1;
}

/* Efecto hover */
.image-card:hover {
    flex: 2;
    /* Se expande más */
    z-index: 4;
}

.image-card:hover img {
    filter: brightness(1.2);
}

.h2 {
    font-size: 8vw;
}

.boton1 {
    background: linear-gradient(45deg, #FF3844, #FF7562);
    font-size: 4vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boton1:hover {
    background: linear-gradient(45deg, #ff4e4e, #FF7562);
    transform: scale(1.1);
}

.seccionMapas img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

footer .card {
    border-radius: 0;
}

footer a {
    padding-right: 1.5vh;
}

/* Responsividad */
@media (max-width: 768px) {
    .image-container {
        height: 40vh;
        margin-bottom: 5vh;
    }

    .image-card {
        margin: 0 0.5%;
    }

    .boton1 {
        font-size: 6vw;
    }

    .h2 {
        font-size: 11vh;
    }
}

@media (max-width: 480px) {
    .image-container {
        height: 30vh;
    }

    .image-card {
        margin: 0 0.5%;
    }

    .boton1 {
        font-size: 7vw;
    }

    .h2 {
        font-size: 8vh;
    }
}

/*---------------------- GENRALS STYLES MY BOOK JHEESFRI-------------------*/
/* Fuentes/Estilos De Letras*/
.f_f_times {
    font-family: 'Times New Roman', Times, serif;
}

.f_f_arial {
    font-family: Arial, Helvetica, sans-serif;
}

/* Colors */
.col_white {
    color: white;
}

/* Background  */
.bg_color_valorant {
    background-color: #FF4655;
}

.bg_black_transparent_1 {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg_black_transparent_3 {
    background-color: rgba(0, 0, 0, 0.3);
}

.bg_black_transparent_5 {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg_black_transparent_8 {
    background-color: rgba(0, 0, 0, 0.8);
}

/*width and height*/

.w_100vw {
    width: 100vw;
}

.w_75vw {
    width: 75vw;
}

.w_50vw {
    width: 50vw;
}

.w_25vw {
    width: 25vw;
}

.bg_valorant {
    margin: 0;
    padding: 0;
    background-image: url('https://fondosmil.co/fondo/54287.jpg');
    /* Reemplaza con la ruta a tu imagen de fondo */
    background-size: cover;
    /* Ajusta la imagen de fondo para cubrir todo el área */
    background-attachment: fixed;
}

/*Page InfoHtml*/

.fatherInfo:hover {
    border: #FF0000 solid 1px;
}

.hRkrsB.variant-primary {
    background-color: rgb(255, 70, 85);
    color: rgb(236, 232, 225);
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
    width: 35%;
}

.WbbKq,
.sc-6c1053c3-0 {
    margin-top: 32px;
    padding: 13px 34px;
    text-wrap: balance;
    font-weight: 400;
    font-family: DINNextW1G, sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
}


.custom-card .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-card .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-card .card:active {
    transform: scale(0.95);
}

.custom-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.bgPersonalized {
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    display: flex;
    justify-content: space-between;
    /* border: solid 2px red; */
}

.fondo2 {
    background: #f8f9fa;
    height: 40%;
    display: flex;
    justify-content: center;
    /* border: solid 4px green; */
}

#textFound {
    text-align: center;
    width: 100%;
}

/* mauricio yepes css*/

.dbCarouselW{
    width: 75%;
    border: solid 2px rgb(74, 240, 240);
}
.dbCarouselW-2{
    margin-left: 25%;
    width: 75%;
    border: solid 2px rgb(74, 240, 240);
}
#customCarouselSize {
    max-width: 800px; 
    margin: 0 auto; 
  }
  
  .custom-w-75 {
    width: 75%;
  }
  
  .custom-carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .custom-carousel-item {
    display: none;
    position: relative;
    width: 100%;
    transition: transform 0.6s ease-in-out;
  }
  
  .custom-carousel-item.active {
    display: block;
  }
  
  .custom-carousel-item-container {
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-img-fluid {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain; 
  }
  
  @media (max-width: 768px) {
    #customCarouselSize {
      width: 100%; 
    }
  
    .custom-carousel-item-container {
      height: 300px; 
    }
  }
  
  @media (max-width: 576px) {
    .custom-carousel-item-container {
      height: 250px; 
    }
  }
  
.background-weapons {
    background: url('/images/backgroundWeapons.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;

}

.weapon-card-container {
    width: 90vw;
    border-radius: 35px;
    background-image: url("https://i.pinimg.com/originals/7a/f3/6e/7af36e3f2da8ec425edac04747a8f3a3.png");
    object-fit: cover;
    margin-bottom: 80vw;
}

.custom-input-group {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.custom-fondo {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.custom-card {
    background: radial-gradient(circle, #3be7e7, #212529);
    color: white;
    border: none;
    border-radius: 15px;
    overflow: visible;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.custom-card-dtls {
    background: linear-gradient( #15ced460, #8181790a);
    border-radius: 12%;
}

.custom-card-dtls img {
    object-fit: contain;
    width: 100%;
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.custom-card-img-container {
    position: relative;
    overflow: visible;
    z-index: 1;
}

.custom-card-img {
    transition: transform 0.3s ease;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    z-index: 1;
    object-fit: contain;
    height: 16vh;
    width: 20vw;
}

.custom-card-img-dtls {
    transition: transform 0.3s ease;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    z-index: 1;
    object-fit: contain;
    width: 45vw;
    height: 35vh;
}


.custom-card:hover .custom-card-img {
    transform: translateY(-10px) scale(1.2);
    z-index: 2;
}

.custom-card-footer {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 2;
}

.custom-btn {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 1vw;
    text-transform: uppercase;
}


.custom-text-found {
    color: white;
}

#inputWeaponBg {
    background-color: rgba(6, 140, 145, 0.6);
}

.weapon-title {
    font-size: 2rem;
    color: #ffeeeed5;
    margin-bottom: 10px;
}

.weapon-stat{
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: hsl(0, 0%, 100%);
}

.weapon-stat strong {
    color: #8bdbe6;
}

.catLetter {
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carousel-inner {
    position: relative;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos de mapas */

.map {
    background: radial-gradient(circle, #00ff22, #212529);
}

#mapsBody {
    background-color: #1A242E;
}
#imgMap:hover {
    transform: scale(1.2);
}

#map:hover {
    transform: scale(1.2);
}

#imgMapDetail {
    width: 35vw;
}

.star:hover,
.star-filled:hover {
    transform: scale(1.5);
}

.star {
    fill: gray;
    cursor: pointer;
}

.star-filled {
    fill: gold;
}

.star:hover,
.star-filled:hover {
    transform: scale(1.5);
}

.video {
    /* fixed o absolute */
    position: fixed;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: -1;

}

#modalBody {
    background-color: #212529;
}

.footerS:hover {
    transform: scale(1);
}

.footerS:hover {
    transform: scale(1);
}

/* STATS SEBASTIAN */
.noStyle:hover {
    transform: scale(1);
}

.tituloStats {
    background: radial-gradient(circle, #ff0033, #212529);
}



.seccionesStats .card {
    color: white;
    background: radial-gradient(circle, #ff0033, #212529);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.contStats {
    border-radius: 15px;
}

.contStats {
    border-radius: 15px;
}

.contStats .card:hover {
    transform: scale(1.05);
}

.contStats img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.seccionesStats {
    background-color: rgba(255, 255, 255, 0.1);
}

.seccionesStats ul {
    font-size: x-large;
    margin-bottom: 2vh;
}

.seccionesStats li {
    background: transparent;
    color: white;
}

.seccionesStats h5 {
    font-size: xxx-large;
}

.numeral {
    color: rgba(255, 70, 85);
}

.contStats .card a {
    font-size: x-large;
}

.contStats .card .boton1:hover {
    transform: scale(1);
}

.contStats .card a {
    font-size: 2vw;
}

/* styles agents, details agents and development team. */
/*agents*/
#card {
    background: radial-gradient(circle, #ff0033, #212529);
    /*  background: linear-gradient(to bottom, #c7f458ff, #d56324ff, #3a2656ff, #3a7233ff);
*/
    transition: transform 0.3s ease;
    width: 18rem;
}

#card:hover {
    transform: scale(1.05);
}

.amImage:hover {
    transform: scale(1.3);
    filter: brightness(1.2);

}

#agentImag {
    object-position: center !important;
    height: 50vh !important;
    object-fit: cover !important;

}

.listaAgents {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(circle, #ff0033, #212529);
    /*  background: linear-gradient(to bottom, #c7f458ff, #d56324ff, #3a2656ff, #3a7233ff);
 */
    transition: transform 0.3s ease;
    color: #ffffff;

}

.listaAgents {
    padding: 2vh;
    text-align: center;
    margin-top: 2vh;
}

.amMain {
    padding: 5vh;

}

#rowAgent {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
}

#rowModalAgent {
    display: flex;
    justify-content: space-around;
}

.alternativeImag {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.85;
}

#carouselExample {
    display: flex;
    justify-content: center;
    width: 100%;
}

#carouselExample img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center top;
    opacity: 0.8;
}

.modal-favorite .amModal {
    position: relative;
    background: transparent;
    overflow: hidden;
}

.modal-favorite .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.modal-favorite .carousel-caption h1 {
    color: white;
}

.amModalFooter {
    display: flex;
    justify-content: center;
}

#amCardFooter {
    color: #ffffff;
    text-align: center;
}

/*Details Agents*/

.card-center {
    margin: 0 auto;
    max-width: 10rem;
    background-color: #1A242E;
    text-align: center;
}

.agent-icon-container {
    text-align: center;
}

.agent-icon {
    display: inline-block;
    height: auto;
}

.divider {
    border-bottom: 2px solid;
    border-color: #dc3545;
}

.amMainDetails {
    padding-bottom: 5vh;
    overflow: hidden;
}

.agent-portrait {
    position: relative;
    width: 140%;
    height: auto;
    transform: translateY(100px);
    /* Ajusta según la necesidad */
    opacity: 0;
    transition: transform 3s ease, opacity 3s ease, background-color 0.3s ease;

}

.agent-portrait.loaded {
    transform: translateY(0);
    opacity: 1;

}

.amCardAbility,
.card-back {
    /* background-color: #1A242E; */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    cursor: pointer;
}

.amCardAbility.active,
.card-back {
    transform: scale(1.1);
    opacity: 1;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.amCardAbility {
    position: relative;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    flex-wrap: wrap;
}

.amCardAbility:hover {
    transform: scale(1.1);
}

.card-back {
    position: absolute;
    transform: rotateY(180deg) scaleX(-1);
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.6s;
    width: 16rem;
    height: 17rem;
    border-radius: 10px;
    padding: 1vh;
    /* color:mediumvioletred; */
    color: black;
    /* Ocultar inicialmente */
    margin: -3.5vh 0 -1vh -2vh;
}

.amCardAbility.active .card-back {
    display: block;
    transform: translateY(0);
}

.card-back h6 {
    font-size: 14px;
}

.agent-portrait:hover {

    background-image: url('https://cdn.pixabay.com/photo/2017/09/14/11/17/water-2748670_1280.png');
    background-size: 70%;
    /* Ajusta el tamaño de la imagen de fondo */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen */
    transform: scale(1.1);
    /* Escala la imagen en hover */
    opacity: 1;
    filter: brightness(1.1);
}

.amBodyDetailsAgents {
    background: linear-gradient(to right, #8e44ad, #3498db, #2c3e50);
}

.agentCard {
    display: flex;
    justify-content: flex-start;

}

.rowAbilities {
    padding: 1.5vh 0 6vh 1.5vh;
}

.rowAbilities h2 {
    padding: 2vh 0;
    text-align: center;
}

#content-abilities {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.abilityCard {
    width: 40vh;
    padding-top: 2vh;
}

.buttonFavorites {
    margin-right: 2vh;
}

.seccionesStats h5 {
    font-size: xxx-large;
}

.numeral {
    color: rgba(255, 70, 85);
}

.contStats .card a {
    font-size: x-large;

}

.contStats .card .boton1:hover {
    transform: scale(1);
}

/*footer*/
.footer-card {
    background-color: black;
    width: 100%;
}

.footer-header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer-header a svg {
    width: 24px;
    height: 24px;
    fill: white;
    margin: 0 10px;
}

.footer-body {
    text-align: center;
    padding: 20px;
}

.footer-image-riot {
    width: 10vh;
    margin-bottom: 10px;
}

.footer-image-val {
    height: 75px;
    margin-bottom: 10px;
}

.footer-text {
    margin: 10px 0;
    color: white;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
}

.footer-footer {
    text-align: center;
    padding: 10px 0;
}

.footer-footer a img {
    height: 100px;
}


/* Estilos página desarrolladores */

.card-header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.card-header ul li a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: wheat;



}

.card-developer {
    background: linear-gradient(to bottom, #ff0000, #800080);
    transition: transform 0.3s ease;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 14rem;


}

.card-developer:hover {
    transform: scale(1.1);

}

.row {
    display: flex;
    justify-content: space-around;
}

.card-header ul li a:hover i {
    color: #95006A;
    /* Cambia a amarillo al pasar el ratón */
    transform: scale(1.2);
    /* Aumenta el tamaño del icono al pasar el ratón */
}

.imgPageDevelopers {
    width: 10vw;
    height: 25vh;
    margin: 3%;
    object-fit: cover;
}