/*---------------------- GENRALS STYLES MY BOOK-------------------*/

/* Fuentes/Estilos De Letras*/
.f_f_times{
    font-family:'Times New Roman', Times, serif ;
}
.f_f_arial{
    font-family: Arial, Helvetica, sans-serif;
}

/* Background  */

.bg_color_valorant{
    background-color: #db4338e1;
}

.bg_black_transparent_8{
    background-color: rgba(0, 0, 0, 0.8);
}

.bg_valorant{
    background-image: url('https://fondosmil.co/fondo/54287.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

/* barra nav */

.nav-link:hover, .dropdown-item:hover{
    color: #FF0000;
}
.nav-link, .dropdown-item{
    color: white;
}

/*Page InfoHtml*/

.descriptionGeneral{
    width: 70%;
    font-family:Arial, Helvetica, sans-serif;
}




